/* You can add global styles to this file, and also import other style files */
@import './../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

:root{
  --roxo: #591A88;
  --rosa: #F25CAF;
  --azul_escuro: #048ABF;
  --azul_calro: #04B2D9;
  --verde: #B7D996;
  --laranja: #F29F05;
  --c0: #F7F7F7;
  --c1: #E6E6E6;
  --c2: #BFBFBF;
  --c3: #808080;
  --c4: #404040;
  --black: #000000;
}

*{
  user-select: none;
  font-family: 'Mitr', sans-serif;
}

body{
  background-color: var(--c1);
}

.bg-c0{
  background-color: var(--c0);
}

.bg-c1{
  background-color: var(--c1);
}

.bg-c2{
  background-color: var(--c2);
}

.bg-azul-claro{
  background-color: var(--azul_calro);
}

.bg-verde{
  background-color: var(--verde);
}

.bg-rosa{
  background-color: var(--rosa);
}

.bg-roxo{
  background-color: var(--roxo);
}

.text-laranja{
  color: var(--laranja);
}

.text-verde{
  color: var(--verde);
}

.text-rosa{
  color: var(--rosa);
}

.text-roxo{
  color: var(--roxo);
}

.text-azul-escuro{
  color: var(--azul_escuro);
}
