<!-- <nav class="d-flex">

  <section>
    <img src="">
    <h2>I love you S2</h2>
  </section>

  <section>
    <h1>Tirol</h1>
  </section>

  <section>
    <ul>
      <li>Home</li>
      <li>Galeria</li>
      <li>Presente</li>
    </ul>
  </section>

</nav> -->

<div class="px-3 d-flex flex-column justify-content-center">

  <nav class="w-100 row d-flex flex-wrap justify-content-between align-items-center py-1">

    <section class="col-5 d-flex align-items-center" routerLink="">

      <div></div>

      <h2 class="ps-4 fs-3">I love you S2</h2>

    </section>

    <section class="col-2 d-flex justify-content-center align-items-center" routerLink="">
      <h1 class="fs-1">Tirol</h1>
    </section>

    <section class="col-5 d-flex justify-content-end">
      <ul class="nav nav-pills">
        <li class="nav-item" routerLink=""><a class="nav-link fs-3">Home</a></li>
        <li class="nav-item" routerLink="gallery"><a class="nav-link fs-3">Galeria</a></li>
        <li class="nav-item" routerLink="gift"><a class="nav-link fs-3">Presente</a></li>
      </ul>
    </section>

  </nav>

</div>
